<div class="numerology-page container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Numerology</h3>
    </div>
    <div class="panel-body">
      <form>
        <div class="input-group col-lg-8">
          <label htmlFor="first-name">First Name</label>
          <input type="text" class="form-control" id="first-name" 
            placeholder="first name given during birth" />
        </div>
        <div class="input-group col-lg-8">
          <label htmlFor="last-name">Last Name</label>
          <input type="text" class="form-control" id="last-name" 
            placeholder="last name given during birth" />
        </div>
        <div class="input-group col-lg-8">
          <label htmlFor="date-of-birth">Date of Birth</label>
          <input type="text" class="form-control" id="date-of-name" placeholder="mm-dd-yyyy" />
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-default">
            calculate
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
